Repository maxbrunet/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
      - id: prettier
        name: prettier
        description: Opinionated code formatter.
        entry: prettier
        args:
          - --ignore-unknown
          - --list-different
          - --write
        language: system
        types: [text]
        require_serial: false
        exclude: (^|/)flake\.lock$
      - id: shellcheck
        name: shellcheck
        description: Static analysis tool for shell scripts.
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: shfmt
        description: Shell source code formatter.
        entry: shfmt
        args:
          # Google-style
          - --write
          - --indent=2
          - --case-indent
          - --binary-next-line
        language: system
        types: [shell]
        exclude_types: [zsh]

Update system
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  flake.lock
Due: prettier

Upgrade NixOS to 24.11
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  flake.lock
  flake.nix
  nix/common.nix
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

Replace nixpkgs-fmt by nixfmt
  .pre-commit-config.yaml
  flake.nix
  nix/common.nix
  nix/darwin.nix
  nix/disko.nix
  nix/home.nix
  nix/hosts/BRUNETM-X1/default.nix
  nix/hosts/BRUNETM-X1/hardware-configuration.nix
  nix/hosts/BRUNETM-X230/default.nix
  nix/hosts/BRUNETM-X230/hardware-configuration.nix
  nix/hosts/virtualbox/default.nix
  nix/hosts/virtualbox/hardware-configuration.nix
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

macos: Remove tmux-256color workaround
  README.md
  nix/darwin.nix
Due: nixpkgs-fmt, prettier

Update system
  .config/nvim/lazy-lock.json
  flake.lock
Due: prettier

nixos: use BeaconDB as WiFi geolocation Service
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

Update system
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  flake.lock
  flake.nix
  nix/common.nix
Due: nixpkgs-fmt, prettier

Update system
  .config/nvim/lazy-lock.json
  flake.lock
  nix/common.nix
Due: nixpkgs-fmt, prettier

macos: Add GNU netcat
  nix/darwin.nix
Due: nixpkgs-fmt, prettier

nixos: whitelist gammastep in geoclue config
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

macos: Add lulu and wireshark
  nix/darwin.nix
Due: nixpkgs-fmt, prettier

Update system
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  flake.lock
  flake.nix
Due: nixpkgs-fmt, prettier

nvim: Upgrade AstroNvim to v4.32.1
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
Due: prettier

Update system
  flake.lock
  nix/common.nix
Due: nixpkgs-fmt, prettier

Update LLM integrations to command-a-03-2025
  .config/litellm/config.yaml.sample
  .config/mods/mods.yml
  .config/nvim/init.lua
Due: prettier

nvim: Replace llm-ls by lsp-ai
  .config/nvim/init.lua
  nix/common.nix
Due: nixpkgs-fmt, prettier

nvim: Fix max_tokens in avante.nvim for Command-A
  .config/nvim/init.lua
Due: prettier

nvim: Add d2 formatter
  .config/nvim/init.lua
Due: prettier

nvim: Enable tflint lsp
  .config/nvim/init.lua
Due: prettier

Upgrade Go to v1.24
  nix/common.nix
Due: nixpkgs-fmt, prettier

nvim: Format d2 files on save
  .config/nvim/init.lua
Due: prettier

nvim: Disable formatting on save with ts_ls
  .config/nvim/init.lua
Due: prettier

nvim: Add gitlinker.nvim plugin
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
Due: prettier

Update system
  flake.lock
Due: none

nvim: Remove llm-ls
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  nix/common.nix
Due: nixpkgs-fmt, prettier

nvim: Fix golangci_lint_ls for golangci-lint v2
  .config/nvim/init.lua
Due: prettier

Update system
  flake.lock
  flake.nix
Due: nixpkgs-fmt, prettier

nvim: Upgrade AstroNvim to v5
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
Due: prettier

nvim: Add codecompanion.nvim plugin
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
Due: prettier

macos: Install Homebrew with Nix
  README.md
  flake.lock
  flake.nix
Due: nixpkgs-fmt, prettier

nvim: add VectorCode to CodeCompanion.nvim
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  .config/vectorcode/config.json.sample
  nix/common.nix
  nix/home.nix
Due: nixpkgs-fmt, prettier

Update stateVersion to 24.11
  nix/home.nix
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

Upgrade NixOS to 25.05
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  .zshrc
  README.md
  flake.lock
  flake.nix
  nix/common.nix
  nix/darwin.nix
  nix/hosts/Maxime-Brunet/default.nix
  nix/nixos.nix
Due: nixpkgs-fmt, prettier

macos: Migrate user defaults to home-manager
  nix/darwin.nix
  nix/home.nix
Due: nixpkgs-fmt, prettier

nvim: Format Nix files on save
  .config/nvim/init.lua
Due: prettier

Update system
  .config/nvim/lazy-lock.json
  flake.lock
  flake.nix
Due: nixpkgs-fmt, prettier

nvim: Remove ChatGPT.nvim and LiteLLM
  .config/litellm/config.yaml.sample
  .config/nvim/init.lua
  .config/nvim/lazy-lock.json
  nix/home.nix
Due: nixpkgs-fmt, prettier
